/* general */

section{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

i{
    margin-right: 5px;
}



/* navbar */


/* home */


#home {
    padding-top: 3em;
    position: relative
}

#home div {
    display: inline-table
}

#home-info {
    width: 50%;
    float: left;
    margin-top: 5.8%
}

#home-info h1 {
    font-size: 50px;
    font-weight: 600;
    margin: 0 0 30px
}

#home-info span {
    display: block;
    font-family: raleway;
    font-weight: 600;
    padding: 0 0 55px;
    font-size: 23px
}


#home-img {
    width: 50%;
    text-align: right
}

#home-img img {
    height: 430px
}

/* members */

iframe{
    width: 100%;
    height: 100%;
}

/* footer */


.foot-head {
    color: white;
    margin: 0;
    padding: 0;
}

.foot-link {
    color: #848687;
    border: black;
}

.foot-link a {
    color: #cacccf;
    text-decoration: none;
}



.foot-desc {
    color: #cacccf;
}

#quicklink ul {
    width: fit-content;
    margin: auto;
}